@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');

body{
    margin:0;
    color:white;
}

/* Navbar */
nav{
    transition: .4s;
    display: flex;
    font-size: 1.3rem;
    width:100%;
    background-color: black;
}
nav:hover{
    transition: .4s;
}
.navbar{
    display: flex;
}
.header nav ul li{
    list-style: none;
    padding: 0rem 2rem;
}
.header nav ul li a{
    font-family: 'Bowlby One SC', cursive;
    transition: .5s;
    text-decoration: none;
    padding: 10px;
    /*color:rgb(232, 245, 202);*/
    color: rgb(208, 164, 50);
    font-style: none;  
}
.header nav ul li a:hover{
    transition: .4s;
    text-decoration: none;
    color:rgb(255, 255, 255);
    padding-left: 5px;
    padding-right: 15px;
    text-shadow:4px 3px rgb(113, 113, 113);
    font-style: none; 
}
.logo{
    justify-content: right;
    width:50px;
    height:35px;
}

/* Main Content */
.main-content-one{
    background-color: rgb(208, 164, 50);
    padding-bottom: 0rem;
}
.main-content-two{
    height: 100%;
    background-color: rgb(220, 76, 76); 
}
.top-layer{
    display: flex;
    width: 100%;
}
.content{
    width: 100%;
}
/* Content-two (1st image)*/
.content-two{
    width:45%;
}
.content h1{
    text-align: center;
    margin: 6rem 5rem 1rem;
    font-size: 4rem;
    color: rgb(0, 0, 0);
    font-family: 'Roboto Slab', serif;
}
.content p{
    font-family: 'Merriweather', serif;
    font-size: 1.5rem;
    color:rgb(0, 0, 0);
    margin:1rem 10rem;
    text-align: center;
    line-height: 3rem;
}
.img-one{
    padding-bottom: 1rem;
    width: 50vw;
    height: 70vh;
    margin-top: 2rem;
}
.button{
    margin: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Shape one */
.custom-shape-divider-bottom-one {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-one svg {
    position: relative;
    display: block;
    width: calc(111% + 1.3px);
    height: 62px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-one .shape-fill {
    fill: rgb(220, 76, 76);
}
.sec-one{
    padding-top: 5rem;
}
/*Shape two*/
.custom-shape-divider-bottom-two {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-two svg {
    position: relative;
    display: block;
    width: calc(130% + 1.3px);
    height: 59px;
}

.custom-shape-divider-bottom-two .shape-fill {
    fill: #000000;
}
.sec-two{
    padding-top: 5rem;
}


.sec-img p{
    margin-top: 6rem;
}
button{
    font-family: 'Bowlby One SC', cursive;
    transition: .4s;
    font-size: 1.3rem;
    border: none;
    padding: 1rem;
    border-radius: 6px;
    background-color: rgb(255, 169, 169);
    
    box-shadow: 1px 1px 5px 1px rgb(134, 30, 30);
    letter-spacing: .1rem;
    
}
button:hover{
    cursor: pointer;
    background-color: rgb(255, 189, 189);
    background-color: rgb(11, 11, 11);
    color: rgb(220, 76, 76);
    transition:.4s;
    letter-spacing: .3rem;
    box-shadow: 3px 3px 10px 3px rgb(107, 23, 23);
}
/* Footer */
footer{
    font-family: 'Playball', cursive;
    color:rgb(218, 218, 218);
    text-align: center;
    background-color: rgb(0, 0, 0);  
    padding: .7rem 0rem 1.5rem;
    margin-bottom: 0px;
    letter-spacing: .2rem;
    font-size: 1.2rem;
}
footer p a{    
    text-decoration: none; 
    transition: .4s;
    color:rgb(240, 94, 94);    
}
footer a:hover{
    text-decoration: underline;
    transition: .4s;
    color:rgb(255, 169, 169);
}



/* CSS for Mobile Display */

@media (max-width:400px) {
    .main-content{
        height: 100%;
    }
    nav{
        font-size: 0rem;
    }
    .header nav ul{
        padding: 1rem .5rem;
    }
    .header nav ul li{
        padding: 0px;
        margin: 0px;
        font-size: 1.2rem;
    }
    .logo{
        padding-left: 3rem;
    }
    .content{
        width: 100%;
    }
    .content h1{
        font-size: 2.6em;
        margin: 1.7rem 1rem .5rem;
        text-align: justify;
    }
    .content p{
        font-family: 'Merriweather', serif;
        font-size: 1.5rem;
        margin:0rem 1rem;
        text-align: justify;
        line-height: 2.8rem;
    }
    .content p span{
        text-align: center;
        display: block;
        padding: 1rem;
    }
    .img-one{
        display: none;
    }
    .content-two{
        display: none;
    }
    .sec-img p{
        padding-top:3rem
    }
    /* Shape one*/
    .custom-shape-divider-bottom-one svg {
        position: relative;
        display: block;
        width: calc(111% + 1.3px);
        height: 32px;
        transform: rotateY(180deg);
    }
    .sec-one{
        margin-bottom: -.05rem;
    }    
    /*Shape two*/
    .sec-two{
        margin-bottom: -.05rem;
        padding-top: 2.5rem;
    }
    .custom-shape-divider-bottom-two svg {
        position: relative;
        display: block;
        width: calc(130% + 1.3px);
        height: 39px;
    }
    
}