@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');

body{
    margin:0;
    color:black;
    background-color: black;
}

/* Navbar */
nav{
    transition: .4s;
    display: flex;
    font-size: 1.3rem;
    width:100%;
    background-color: black;
}
nav:hover{
    transition: .4s;
}
.navbar{
    display: flex;
}
.header nav ul li{
    list-style: none;
    padding: 0rem 2rem;
}
.header nav ul li a{
    font-family: 'Bowlby One SC', cursive;
    transition: .5s;
    text-decoration: none;
    padding: 10px;
    /*color:rgb(232, 245, 202);*/
    color: rgb(191, 137, 207);
    font-style: none;  
}
.header nav ul li a:hover{
    transition: .4s;
    text-decoration: none;
    color:rgb(255, 255, 255);
    padding-left: 5px;
    padding-right: 15px;
    text-shadow:4px 3px rgb(113, 113, 113);
    font-style: none; 
}
.logo{
    justify-content: right;
    width:50px;
    height:35px;
}
    

/* Main Content */

.main-content{
    background-color: rgb(191, 137, 207);
    height: 100%;
}
.div-two{
    background-color: #FF8FB1;
}
.div-three{
    background-color: #BCE29E;
    display: block;
}
.div-three-inner{
    display: flex;
}
.div-three-display{
    display: block;
}
.div-twoinner{
    padding-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.main-content h1, .headvis{
    text-align: center;
    padding: 6rem 5rem 3rem;
    margin: 0px;
    font-size: 4rem;
    color: rgb(0, 0, 0);
    font-family: 'Roboto Slab', serif;
}
.headvis{
    padding: 4rem 0rem 1rem;
    margin-top: 0rem;
}
.content{
    display: flex;
    justify-content: center;

    align-items: center;
}
.content h1{    
    font-family: 'Merriweather', serif;
    font-size: 2.3vw ;
    padding: 5rem 0rem 4rem;
    color: rgb(0, 0, 0);
}

/* div */
.rowinput{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
label{
    font-family: 'Merriweather', serif;
    font-size: 2.3vw ;
    margin: 6vh 3vw;
}
span{
    color:rgb(54, 54, 54);
    font-size: 1.3rem;
}

/* input */
#rownumber{
    font-family: 'Merriweather', serif;
    font-size: 1.5vw;
    padding: .5rem .7rem;
    outline: none;
    border: none;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    caret-color: rgb(156, 104, 172);
    color:rgb(156, 104, 172);
    box-shadow: 2px 2px 14px 2px rgb(156, 104, 172);
    width: 15vw;
    text-align: center;
}

/* Hiding the arrows for number input */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
.fileinput{
    display: flex;
    align-items: center;
    justify-content: center;
}
#fileSelect{
    transition: .4s;
    cursor: pointer;
    font-family: 'Merriweather', serif;
    font-size: 1.2em;
    border: none;
    color:#ca6080;
    background-color: #ffb7cd;
    background-image: url('/static/images/PINK-new.png');
    background-repeat: no-repeat;
    background-size: contain;
    padding: 5rem 0rem 5rem 16rem;
    width: 25rem;
    border-radius: 10px;
    box-shadow: 1px 1px 10px 1px #c96281;
}
input::file-selector-button{
    display: none;
}
#fileSelect:hover{
    transition: .4s;
    box-shadow: 2px 2px 14px 2px #cb6483;
    background-color: #ffc4d6;
}

/* Visualize button CSS */
.button{
    padding: 3rem;
    padding-bottom: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button .btn{
    font-family: 'Bowlby One SC', cursive;
    transition: .4s;
    font-size: 1.3rem;
    border: none;
    padding: 1rem;
    border-radius: 6px;
    background-color: #ffb0c8;
    box-shadow: 1px 1px 5px 1px #c96281;
    letter-spacing: .1rem;
    
}
.button .btn:hover{
    cursor: pointer;
    color: #FF8FB1;
    background-color: #000000;
    transition:.4s;
    letter-spacing: .3rem;
    box-shadow: 3px 3px 10px 3px #bb5976;
}
/* End of Visualize button CSS */
.visuvalize-img{
    padding-bottom: 0rem;
    width: 50vw;
    height: 70vh;
    margin-top: 2rem;
    margin: 0rem;
}
.plotlinks{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
}
.plotlinks a{
    transition: .4s;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Bowlby One SC', cursive;
    font-size: 1.5rem;
    color: black;
    padding: .6rem 0rem .6rem;
}
.plotlinks a:hover{
    transition: .4s;
    text-decoration: none;
    color:rgb(255, 255, 255);
    text-shadow:4px 3px rgb(113, 113, 113);
}
.plotlinks h2{
    font-family: 'Merriweather', serif;
    margin: 0px;
    font-size: 1.5rem;
    color: black;
    padding: 0rem 0rem 1rem;
}
/* Footer */
footer{
    font-family: 'Playball', cursive;
    color:rgb(218, 218, 218);
    text-align: center;
    background-color: rgb(0, 0, 0);  
    padding: .7rem 0rem 1.5rem;
    margin-bottom: 0px;
    letter-spacing: .2rem;
    font-size: 1.2rem;
}
footer p a{    
    text-decoration: none; 
    transition: .4s;
    color:#b5de95;    
}
footer a:hover{
    text-decoration: underline;
    transition: .4s;
    color:#cdf0b2;
}

/* Loader icon CSS */

.ring{
  position:relative;
  left:20%;
  margin-top:15%;
  transform:translate(-50%,-50%);
  width:150px;
  height:150px;
  background:transparent;
  border:3px solid #3c3c3c;
  border-radius:50%;
  text-align:center;
  line-height:150px;
  font-family:sans-serif;
  font-size:11px;
  color:black;
  letter-spacing:4px;
  text-transform:uppercase;
  text-shadow:0 0 10px #7a9c5f;
  box-shadow:0 0 20px #7a9c5f;
}
.ring:before{
  content:'';
  position:absolute;
  top:-3px;
  left:-3px;
  width:100%;
  height:100%;
  border:3px solid transparent;
  border-top:3px solid #fff000;
  border-right:3px solid #fff000;
  border-radius:50%;
  animation:animateC 2s linear infinite;
}
.innerring{
  display:block;
  position:absolute;
  top:calc(50% - 2px);
  left:50%;
  width:50%;
  height:4px;
  background:transparent;
  transform-origin:left;
  animation:animate 2s linear infinite;
}
.innerring:before{
  content:'';
  position:absolute;
  width:16px;
  height:16px;
  border-radius:50%;
  background:#fff000;
  top:-6px;
  right:-8px;
  box-shadow:0 0 20px #fff000;
}
@keyframes animateC{
  0%{
    transform:rotate(0deg);
  }
  100%{
    transform:rotate(360deg);
  }
}
@keyframes animate{
  0%{
    transform:rotate(45deg);
  }
  100%{
    transform:rotate(405deg);
  }
}
.sec-one{
    padding-top: 6rem;
}
.sec-three{
    padding-top: 1.02rem;
}
/* Shape divider one */
.custom-shape-divider-bottom-1670832027 {
    position: absolute;
    margin-bottom: -.1rem;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1670832027 svg {
    position: relative;
    display: block;
    width: calc(129% + 1.3px);
    height: 50px;
}

.custom-shape-divider-bottom-1670832027 .shape-fill {
    fill: #FF8FB1;
}
/* Shape divider two */
.custom-shape-divider-bottom-1670851963 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1670851963 svg {
    position: relative;
    display: block;
    width: calc(108% + 1.3px);
    height: 41px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1670851963 .shape-fill {
    fill: #BCE29E;
}

/* Shape divider three */
.custom-shape-divider-bottom-1670847636 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1670847636 svg {
    position: relative;
    display: block;
    width: calc(110% + 1.3px);
    height: 44px;
}

.custom-shape-divider-bottom-1670847636 .shape-fill {
    fill: #000000;
}


/* CSS for Mobile Devices */
@media (max-width:400px) {
    .main-content{
        height: 100%;
    }
    nav{
        font-size: 0rem;
    }
    .header nav ul{
        padding: 1rem;
    }
    .header nav ul li{
        padding: 0px;
        margin: 0px;
        font-size: 1.2rem;
    }
    .logo{
        padding-left: 3rem;
    }
    .content{
        width: 100%;
    }
    .content h1{
        font-size: 2.6em;
        margin: .7rem 1rem 2rem;
    }
    .fileinput{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0rem 3rem;
    } 
    #fileSelect{
        font-size: 1.2em;        
        background-color: rgb(28, 28, 28);
        color: rgb(137, 233, 86);
        padding: 1rem 0rem 1rem  1rem;
    }
    input::file-selector-button{
        display: none;
    }
}