<!DOCTYPE html>
<html>
<head>
    <title>VISUALIZIT</title>
    <link rel="stylesheet" href="/static/styles.css">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/images/bar-graph-logo.png" type="image/x-icon">
</head>
<body>
    <!-- Navbar -->
    <div class="header">
        <nav>
            <ul>
                <div class="navbar">
                    <li><a href="{{url_for('index')}}">HOME</a></li>
                    <li><a href="{{url_for('visualization')}}">VISUALIZIT</a></li>
                    <img src="/static/images/bar-graph-logo.png" alt="logo" class="logo">
                </div>
            </ul>
        </nav>
    </div>
    <div class="main-content-one">
        <div class="top-layer">
            <div class="content">
                <h1>Working hard to gain Insights from a Huge Dataset?</h1> <br>
                <p> <span> Dont worry !! </span>  
                    Analyzing the dataset, finding dominant attributes and creating better visualizations is a very tedious manual task.
                <br>But what if, they are all automated! Sounds better right 😃</p>
                          <!-- Shape one -->
        
            </div>
            
        </div>
        <section style="position: relative;" class="sec-one">
            <div class="custom-shape-divider-bottom-one">
                <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                    <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
                </svg>
            </div>
        </section> 
    </div>
    
    

    <div class="main-content-two">
        <div class="top-layer">
            <div class="content-two">
                <img src="/static/images/Statistics-removebg-preview.png " alt="vis-1-image" class="img-one">
            </div>
            <div class="content sec-img">
                <p> Try out our brand-new visualisation tool, get beautiful visualizations within seconds 
                    and gain a better understanding of your data</p>
                <div class="button">
                    <a href="{{url_for('visualization')}}"><button> Get Started </button></a>
                </div>
                
            </div>
            
            
            
        </div>
        <section style="position: relative;" class="sec-two">
            <div class="custom-shape-divider-bottom-two">
                <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                    <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
                </svg>
            </div>
        </section>
    </div>

    
    
    
    <!-- Footer -->
    <footer> <p>
        Designed by <a href="https://github.com/Vignesh227" target="_blank"> Vignesh</a> & <a href="https://github.com/selvaskr" target="_blank">Selva</a> 
    </p>
    </footer>    
</body>
</html>
